.primary {
    background-color: var(--mat-sys-primary);

    &,
    & button[mat-icon-button] > mat-icon {
        color: var(--mat-sys-on-primary);
    }
}

.primary-container {
    background-color: var(--mat-sys-primary-container);

    &,
    & button[mat-icon-button] > mat-icon {
        color: var(--mat-sys-on-primary-container);
    }
}
