<mat-list>
    @for (
        passwordGroup of passwords | async | keyvalue;
        track $index;
        let last = $last
    ) {
        <h3 matSubheader>{{ passwordGroup.key }}</h3>
        <mat-divider></mat-divider>
        @for (password of passwordGroup.value; track $index) {
            <mat-list-item>
                <span matListItemTitle>{{ password.url }}</span>
                <span matListItemLine>{{ password.username }}</span>
            </mat-list-item>
        }

        @if (!last) {
            <mat-divider></mat-divider>
        }
    }
</mat-list>
