.search-bar {
    position: sticky;
    top: 0;

    background-color: var(--mat-sys-background);
    z-index: 1;

    &,
    > mat-form-field {
        width: 100%;
    }
}

mat-action-list {
    padding: 0;
}

.container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
