@if (isSearchVisible) {
    <div class="search-bar">
        <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            #searchField
        >
            <input
                type="text"
                matInput
                placeholder="Search"
                [formControl]="searchControl"
            />
        </mat-form-field>
    </div>
}

@if (isAnyItemVisible | async) {
    <mat-action-list>
        @for (
            passwordGroup of passwords | async | keyvalue;
            track $index;
            let last = $last
        ) {
            <h3 matSubheader>{{ passwordGroup.key }}</h3>
            <mat-divider></mat-divider>
            @for (password of passwordGroup.value; track $index) {
                <mat-list-item (click)="openPasswordPage(password)">
                    <span matListItemTitle>{{ password.url }}</span>
                    <span matListItemLine>{{ password.username }}</span>
                </mat-list-item>
            }

            @if (!last) {
                <mat-divider></mat-divider>
            }
        }
    </mat-action-list>
}
@else if (searchControl.value !== '') {
    <div class="container">
        <h2>No items found</h2>
    </div>
}
@else {
    <div class="container">
        <h2>No passwords</h2>
    </div>
}
