@import '../../styles/navbar.scss';
@import '../../styles/theme.scss';

:host {
    width: 100%;
    background: var(--mat-sys-primary);
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.spacer {
    flex: 1 1 auto;
}
