@import "../../styles/theme.scss";

:host {
    width: 100%;
    padding-bottom: var(--safe-area-inset-bottom);
}

.app-navbar {
    display: flex;
    padding: 0;

    .wrapper {
        width: 100%;
        height: 100%;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
