<div class="header">
    <h4>{{ isEditMode ? "Edit password" : "New password" }}</h4>
    <div class="spacer"></div>

    @if (isEditMode) {
        <button mat-icon-button (click)="deletePassword(dialogTemplate)">
            <mat-icon>delete</mat-icon>
        </button>
    }
    <button mat-icon-button (click)="savePassword()">
        <mat-icon>save</mat-icon>
    </button>
</div>

<form [formGroup]="form" class="form">
    <mat-form-field class="field">
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" />
        @if (form.controls.url.hasError('required')) {
            <mat-error>URL is required</mat-error>
        }
        @else if (form.controls.url.hasError('isNotURL')) {
            <mat-error>Invalid URL format</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        @if (form.controls.username.hasError('required')) {
            <mat-error>Username is required</mat-error>
        }
        @else if (form.controls.username.hasError('pattern')) {
            <mat-error>Invalid username format</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="field">
        <mat-label>Password</mat-label>
        <input
            matInput
            [type]="hide() ? 'password' : 'text'"
            x
            formControlName="password"
        />
        <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
        >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (form.controls.password.hasError('required')) {
            <mat-error>Password is required</mat-error>
        }
        @else if (form.controls.password.hasError('pattern')) {
            <mat-error>Invalid password format</mat-error>
        }
    </mat-form-field>
</form>

<ng-template #dialogTemplate>
    <h2 mat-dialog-title>Delete password?</h2>
    <mat-dialog-content>
        Are you sure you want to delete this password?
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true">Delete</button>
      </mat-dialog-actions>
</ng-template>
