@use 'app/styles/header-bar.scss';

:host {
    display: block;
    padding: 16px 8px;
    padding-bottom: var(--safe-area-inset-bottom);
}

.form > .field {
    width: 100%;
}

.header {
    margin-bottom: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
