@use '@angular/material' as mat;
@import "bootstrap/scss/bootstrap";

html {
    color-scheme: light;
    @include mat.theme((
      color: mat.$green-palette,
      typography: Roboto,
      density: 0
    ));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
